@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400;1,900&family=Roboto:wght@100;300;400;500&display=swap');
html{
	text-align:center;
	font-family: 'Exo 2', sans-serif;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
header{
	font-family: 'Exo 2', sans-serif;
}
main{
	font-family: 'Exo 2', sans-serif;
}
.menu{
	height: 40px;
    background-color: #3a3a3a;
	z-index: 2;
	position: relative;
    top:2%;
    margin-bottom: 15px;
}
footer{
	font-family: 'Exo 2', sans-serif;
	display: block;
	box-sizing: border-box;
}
.menu-elements{
	background-color: #3a3a3a;
	font-family: 'Exo 2', sans-serif;
	color: #fff;	
	font-style: normal;
	border: 0;
    outline: none;
	background: transparent;
	border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    font-weight: 300;
    height: 40px;
    text-align: center;
    width: 199px;
    border-radius: 0px 0px 0px 0px;
    font-size: 20.5px;
	z-index: 2;
	position: relative;
	cursor: pointer;
}
.menu-elements:hover{
		background-color: #2e2e2e;
}
.menu-elements:active{
	background-color: #000;
}
.logo{
	width:800px;
    border:0px;
	margin-bottom: -0.5px;
}
.menu-error{
	height: 60px;
	line-height: 1.2em
}
@keyframes ani {
	0%{transform: translateY(-100%); opacity: 0; z-index: 1}
	20%{opacity: 0.1; z-index: 1}
	100%{transform: translateY(0);opacity: 1;z-index: 1}
}
.container-content2{
	position: relative;
	max-width: 100%; 
    z-index: 1;
}

.header{
	font-size:30px;
	font-weight:600;
	color: #0018a0;
	text-align: left;
}
.container-center{
	position: relative;
    z-index: 1;	
    width: 100%;
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
	margin-top: 40px;
	font-family: 'Exo 2', sans-serif;
}
.footer {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #3a3a3a;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}
.footer__address {
	margin-bottom: 0px;
	font-size: 18px;
}
.footer__contacts {
	margin-bottom: 28px;
	font-size: 16px;
}
.footer__separator {
	display: block;
	width: 200px;
	height: 1px;
	margin-right: auto;
	margin-bottom: 27px;
	margin-left: auto;
	background-color: #fff;
}
.footer__copyright {
	margin-bottom: 0px;
	line-height: 14px;
}
.footer__link {
	color: #fff;
}
.img-headphones{
	width: 200px;
	cursor: pointer;
}
.product__title{
	font-size:15px;
	font-weight: 400;
	text-align: left;
	cursor: pointer;
}
.product__title:hover{
	color: #d30b2d;
}
.content-hp{
	width: 200px;
	margin-top: 20px;
	margin-bottom: 30px;
    display: flex;
}
.company{
	margin-top: 20px;
	margin-bottom: 30px;
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product-price__old{
	text-decoration: line-through;
	text-align: left;
	font-size:15px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	color: #707070;
	cursor: default;
}
.price{
	display: flex;
	text-align: center;
}
.product-price__current{
	text-align: left;
	font-size:20px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
	cursor: default;
	text-align: center;
}
.price-font__k{
	text-align: left;
	font-size:20px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
	cursor: default;
	font-size: 26px;
	font-weight: 600;
	position: relative;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.fullprice{
	display: flex;
	font-family: Roboto, Helvetica,Arial,sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 10px;
}
.center{
	text-align: center;
}
.product{
	width: 200px;
	margin-bottom: 30px;
	position: relative;
	/* box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15); */
	padding: 20px;
	border-radius: 5px;
}
.content-specifications{ 
	display: flex;
	text-align: left;
	flex-direction: column;
}
.container2{
	margin-top: 20px;
	margin-right: 5%;
	margin-bottom: 30px;
    display: flex;
	position: relative;
	flex-wrap: wrap;
	max-width: 1300px;
	text-align: center;
}
.opis-hp{
	position: relative;
	display: flex;
}
.container-specifications{
	position: relative;
	flex-direction: column;
	display: flex;
}
.container-content-opis{
	position: relative;
	grid-gap: 10px;
  	align-items: center;
  	display: grid;
  	grid-template-columns: 260px 180px;
	font-weight: 400;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.specifications{
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px dotted #ddd;
	color: #666666;
	display: flex;
	margin-bottom: 0px;
	font-size: 15px;
	white-space: pre-wrap;
	line-height: 1.42;
}
.specifications-z{
	position: relative;
	display: flex;
	color: #000;
	font-size: 15px;
}
.v-korzinu{
	position: relative;
	display: flex;
	width: 200px;
	height: 86px;
	flex-direction: column;
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 8px;
	margin-top: 15px;
	margin-left: 40px;
}
.font{
	font-size: 26px;
	font-weight: 600;
	position: relative;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.img{
	width: 100%;
}
.img2{
	width: 95%;
}
.container-opis{
	display: flex;
	justify-content: center;
}
.container-content-img{
	max-width: 570px;
	text-align: left;
	margin-left: 0px;
}
.slide-panel{
	border-radius: 3px;
	width: auto;
	justify-content: center;
	display: flex;
	color: #8e8e93;
	font-weight: 400;
}
.breadcrumbs{
	list-style: none;
  	white-space: normal;
	display: flex;
	width: 1200px;
	margin-left: 70px;
	margin-bottom: 25px;
}
.slide-panel-content{
	outline: none;
	margin-left: 8px;
  	margin-right: 8px;
	display: inline;
	cursor: pointer;
	border: 0;
	background-color: #fff;
	color: #8e8e93;
	font-family: 'Exo 2', sans-serif;
}
.slide-panel-content:hover{
	color:#5e5e5e;
}
.no-decor{
	background-color: #fff;
	border: 0;
	color: #8e8e93;
}
.btn {
	outline:none;
	cursor: pointer;
	box-shadow: 0px 6px #bd0f2c;
	color: #fff;
	position: relative;
	display: block;
	background-color:#e31235;
	border:#cc1130;
	border-radius: 4px;
	font-size:19px;
	font-family: 'Exo 2', sans-serif;
	width: 120px;
	height: 45px;
	margin-top: 8px;
	padding-top: 1px;
	padding-left: 1px;
	cursor: pointer;
  }
.btn:hover {
	box-shadow: 0 4px #bd0f2c;
	top: 2px;
}
.btn:active {
	box-shadow: none;
	top: 5px;
}
.corect{
	width: 200px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
}
.button-corect{
	margin-top: 35px;
}
.opis-tov{
	width: 450px;
	margin-top: 13px;
	font-weight: 400;
	font-size: 15px;
  	font-family: Roboto,Helvetica,Arial,sans-serif;
  	font-style: normal;
  	font-weight: 400;
  	color: #333;
}
.sp-container{
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: Roboto,Helvetica,Arial,sans-serif;
}
.sp-p{
	width: 1200px;
	position: relative;
	display: flex;
	text-align: left;
	flex-direction: column;
}
.container-content-sp-p{
	position: relative;
	font-weight: 400;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.container-content-content{
	position: relative;
	grid-gap: 10px;
  	align-items: center;
  	display: grid;
  	grid-template-columns: 500px 400px;
	font-weight: 400;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.p-opis{
	font-size: 16px;
	line-height: 1.42857;
}
.p-sp-p{
	width: 900px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.cart-product{
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}
.korzina-t{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 1050px;
	height: 250px;
	border: 3px;
	border-radius: 17px;
	background-color: #ffffff;
	align-items:center;
	margin-bottom: 30px;
}
.container-korzina{
	display: flex;
	justify-content: space-between;
	width: 93%;
	height: 80%;
	align-items: flex-start;
}
.img-korzina{
	width: 100%;
	cursor: pointer;
}
.body-k{
	background-color: #f5f5f6;
}
.opis-k{
	justify-content: space-between;
	display: flex;
	text-align: left;
	cursor: default;
	font-size: 22px;
	width: 720px;
	margin-top: 6px;
}
.content-opis-k:hover{
	color: #d30b2d;
}
.content-opis-k{
	width: 500px;
	cursor: pointer;
}
.img-korzina-div{
	width: 200px;
}
.opis-knp{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	justify-content: right;
}
.cart-product__delete{
	justify-content: flex-end;
	position: relative;
  	display: flex;
	width: 105px;
	height: 39px;
	border: none;
	margin-top: 2px;
	align-items: center;
  	border-radius: 10px;
  	box-sizing: border-box;
  	cursor: pointer;
  	font-size: 16px;
  	justify-content: center;
  	line-height: 100%;
  	outline: none;
	margin-top: -7px;
  	padding: 6px 16px;
  	position: relative;
  	text-align: right;
  	user-select: none;
	background-color: #fff;
	border: solid #ffffff;
	font-family: 'Exo 2', sans-serif;
}
.base-ui:hover{
	background-color: #f5f5f6;
}
.base-ui:active{
	background-color: #fff;
	border: solid #f5f5f6;
}
.base-ico{
  	line-height: 100%;
  	text-align: center;
}
.svg{
	display: flex;
	width: 20px;
  	height: 20px;
}
.delete{
	padding-right: 1px;
}
.price-k{
	width: 107px;
}
.container-opis2{
	display: flex;
	flex-direction: column;
	line-height: 23px;
	margin: 0;
}
.container-price{
	display: flex;
	width: auto;
	justify-content: space-between;
	margin-top: 20px;
}
.dop-price-content{
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 60px;
	text-align: left;
	color: #5e5e5e;
}
.dop-content{
	cursor: pointer;
}
.dop-content:hover{
	color: #3a3a3a;
}
.default{
	cursor: default;
}
.cart__num {
	position: absolute;
	background-color: #d62240;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	top: 2%;
	left: 138px;
}
.cart-content__list{
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 0px;
}
.zakaz{
	display: flex;
	position: relative;
	width: 200px;
	height: 86px;
	flex-direction: column;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	margin-left: 30px;
}
.cart-container{
	display: flex;
	justify-content: center;
}
.name{
	font-size: 34px;
	font-weight: 500;
	height: 38px;
	padding-top: 10px;
}
.margin-right{
	margin-right: 7px;
}