@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400;1,900&family=Roboto:wght@100;300;400;500&display=swap');
html{
	text-align:center;
	font-family: 'Exo 2', sans-serif;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
header{
	font-family: 'Exo 2', sans-serif;
}
main{
	font-family: 'Exo 2', sans-serif;
}
.menu{
	height: 40px;
    background-color: #d72725;
	z-index: 2;
	position: relative;
    top:2%;
    margin-bottom: 15px;
}
footer{
	font-family: 'Exo 2', sans-serif;
	display: block;
	box-sizing: border-box;
}
.menu-elements{
	font-family: 'Exo 2', sans-serif;
	color: #fff;	
	font-style: normal;
	border: 0;
    outline: none;
	background: transparent;
	border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    padding: 0px 35px 0px 35px;
    line-height: 40px;
    font-weight: 300;
    height: 40px;
    text-align: center;
    width: 199px;
    border-radius: 0px 0px 0px 0px;
    font-size: 20.5px;
	z-index: 2;
	position: relative;
	cursor: pointer;
}
.menu-elements:hover{
		background-color: #a51900;
}
.menu-elements:active{
	background-color: #811300;
}
.logo{
	width:800px;
    border:0px;
	margin-bottom: -0.5px;
}
.menu-error{
	height: 60px;
	line-height: 1.2em
}
@keyframes ani {
	0%{transform: translateY(-100%); opacity: 0; z-index: 1}
	20%{opacity: 0.1; z-index: 1}
	100%{transform: translateY(0);opacity: 1;z-index: 1}
}
.container-content2{
	position: relative;
	max-width: 100%; 
    z-index: 1;
}

.header{
	font-size:30px;
	font-weight:600;
	color: #0018a0;
	text-align: left;
}
.container-center{
	position: relative;
    z-index: 1;	
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
	margin-top: 40px;
	font-family: 'Exo 2', sans-serif;
}
.footer {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #d72725;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}
.footer__address {
	margin-bottom: 0px;
	font-size: 18px;
}
.footer__contacts {
	margin-bottom: 28px;
	font-size: 16px;
}
.footer__separator {
	display: block;
	width: 200px;
	height: 1px;
	margin-right: auto;
	margin-bottom: 27px;
	margin-left: auto;
	background-color: #fff;
}
.footer__copyright {
	margin-bottom: 0px;
	line-height: 14px;
}
.footer__link {
	color: #fff;
}
.img-headphones{
	width: 200px;
}
.content-opis{
	font-size:15px;
	font-weight: 400;
	text-align: left;
	cursor: pointer;
}
.content-opis:hover{
	color: #e31235;
}
.content-hp{
	width: 200px;
	margin-top: 20px;
	margin-bottom: 30px;
    display: flex;
}
.company{
	margin-top: 20px;
	margin-bottom: 30px;
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.strike{
	text-decoration: line-through;
	text-align: left;
	font-size:15px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	color: #707070;
}
.price{
	text-align: left;
	font-size:20px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
}
.center{
	text-align: center;
}
.company2{
	width: 200px;
	margin-bottom: 30px;
	position: relative;
}
.content-specifications{ 
	display: flex;
	text-align: left;
	flex-direction: column;
}
.container2{
	margin-top: 20px;
	margin-right: 5%;
	margin-bottom: 30px;
    display: flex;
	position: relative;
	flex-wrap: wrap;
	max-width: 1300px;
	text-align: center;
}
.opis-hp{
	position: relative;
	display: flex;
}
.container-specifications{
	position: relative;
	flex-direction: column;
	display: flex;
}
.container-content-opis{
	position: relative;
	grid-gap: 10px;
  	align-items: center;
  	display: grid;
  	grid-template-columns: 260px 100px;
	font-weight: 400;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.specifications{
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px dotted #ddd;
	color: #666666;
	display: flex;
	margin-bottom: 0px;
	font-size: 15px;
	white-space: pre-wrap;
	line-height: 1.42;
}
.specifications-z{
	position: relative;
	display: flex;
	color: #000;
	font-size: 15px;
}
.v-korzinu{
	position: relative;
	display: flex;
	width: 200px;
	height: 86px;
	flex-direction: column;
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 8px;
	margin-top: 15px;
	margin-left: 80px;
}
.font{
	font-size: 26px;
	font-weight: 600;
	position: relative;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.img{
	width: 100%;
}
.img2{
	width: 90%;
}
.container-opis{
	display: flex;
	justify-content: center;
}
.container-content-img{
	max-width: 570px;
	text-align: left;
	margin-left: 0px;
}
.slide-panel{
	border-radius: 3px;
	width: auto;
	justify-content: center;
	display: flex;
	color: #8e8e93;
	font-weight: 400;
}
.breadcrumbs{
	list-style: none;
  	white-space: normal;
	display: flex;
	width: 1200px;
	margin-left: 70px;
	margin-bottom: 25px;
}
.slide-panel-content{
	outline: none;
	margin-left: 8px;
  	margin-right: 8px;
	display: inline;
	cursor: pointer;
	border: 0;
	background-color: #fff;
	color: #8e8e93;
	font-family: 'Exo 2', sans-serif;
}
.slide-panel-content:hover{
	color:#5e5e5e;
}
.no-decor{
	background-color: #fff;
	border: 0;
	color: #8e8e93;
}
.btn {
	outline:none;
	cursor: pointer;
	box-shadow: 0px 5px #bd0f2c;
	color: #fff;
	position: relative;
	display: block;
	background-color:#e31235;
	border:#e31235;
	border-radius: 4px;
	font-size:19px;
	font-family: 'Exo 2', sans-serif;
	width: 120px;
	height: 45px;
	margin-top: 8px;
	padding-top: 1px;
	padding-left: 1px;
	cursor: pointer;
  }
.btn:hover {
	box-shadow: 0 4px #bd0f2c;
	top: 1px;
}
.btn:active {
	box-shadow: none;
	top: 5px;
}
.corect{
	width: 200px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
}
.button-corect{
	margin-top: 35px;
}
.opis-tov{
	width: 450px;
	margin-top: 13px;
	font-weight: 400;
	font-size: 15px;
  	font-family: Roboto,Helvetica,Arial,sans-serif;
  	font-style: normal;
  	font-weight: 400;
  	color: #333;
}
.sp-container{
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: Roboto,Helvetica,Arial,sans-serif;
}
.sp-p{
	width: 1200px;
	position: relative;
	display: flex;
	text-align: left;
	flex-direction: column;
}
.container-content-sp-p{
	position: relative;
	font-weight: 400;
	font-family: Roboto, Helvetica,Arial,sans-serif;
}
.container-content-content{
	position: relative;
	grid-gap: 10px;
  	align-items: center;
  	display: grid;
  	grid-template-columns: 500px 400px;
	font-weight: 400;
	font-family: Roboto, Helvetica,Arial,sans-serif;

}
.p-opis{
	font-size: 16px;
	line-height: 1.42857;
}
.p-sp-p{
	width: 900px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}